RewriteEngine on


# ADD "www."
RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


# BEGIN GZIP
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE text/plain
	AddOutputFilterByType DEFLATE text/xml
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE application/json
	AddOutputFilterByType DEFLATE text/javascript			#incorrect but legacy
	AddOutputFilterByType DEFLATE application/javascript
</ifmodule>
# END GZIP