/*------------------------------------------------------------------------------
  General
------------------------------------------------------------------------------*/

*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
  font: inherit;
}

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  font: 18px/1.5em Verdana, Helvetica, Arial, sans-serif;

  /*optimise legibility for fonts on mobile, if possible*/
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  background: rgba(0, 0, 0, 0.03);
  padding: 25px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.selectable {
  user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  cursor: auto;
}


/*------------------------------------------------------------------------------
  Fonts
------------------------------------------------------------------------------*/

@font-face {
  font-family: 'Moon';
  src: url('../font/moon-regular.otf');
}

@font-face {
  font-family: 'Moon';
  font-weight: bold;
  src: url('../font/moon-bold.otf');
}


/*------------------------------------------------------------------------------
  Main
------------------------------------------------------------------------------*/

#main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  height: 400px;
  margin-top: -200px;
  text-align: center;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.10);
}

#main > .inner {
  position: relative;
  width: 100%;
  height: 100%;
}

#main > .inner > .avatar {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}

#main > .inner > .avatar > .photo {
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.40);
  border-radius: inherit;
  background-image: url('../img/me.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

#main > .inner > .name {
  font-family: 'Moon';
  font-size: 40px;
  margin-top: 30px;
  color: rgba(0, 0, 0, 0.70);
}

#main > .inner > .sub-title {
  font-family: 'Moon';
  font-size: 18px;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.70);
}

#main > .inner > .buttons {
  display: table;
  table-layout: fixed;
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.03);
}

#main > .inner > .buttons > a {
  display: table-cell;
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.70);
  border-right: 2px solid rgba(0, 0, 0, 0.03);
  text-decoration: none;
}

#main > .inner > .buttons > a:last-child {
  border-right: 0;
}

#main > .inner > .buttons > a:hover {
  color: rgba(0, 0, 0, 0.90);
  background: rgba(0, 0, 0, 0.03);
}


/*------------------------------------------------------------------------------
  Media Query > Retina Images
------------------------------------------------------------------------------*/

/*
 *  1) Webkit
 *  2) Other Browsers (dpi)
 *  3) The Future (dppx)
 */
@media (-webkit-min-device-pixel-ratio: 1.5),
       (min-resolution: 144dpi),
       (min-resolution: 1.5dppx)
{

  #main > .avatar > .photo {
    background-image: url('../img/me@2x.jpg');
  }

}


/*------------------------------------------------------------------------------
  Media Query > Short Height
------------------------------------------------------------------------------*/

@media (max-height: 450px) {

  body {
    height: auto;
  }

  #main {
    position: static;
    margin: 0 auto;
  }

}

/*------------------------------------------------------------------------------
  Media Query > Thin Width
------------------------------------------------------------------------------*/

@media (max-width: 410px) {

  body {
    height: auto;
    padding: 10px;
  }

  #main {
    position: static;
    width: 100%;
    margin: 0;
  }

}